[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
q = "*"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
gunicorn = "*"
django-cors-headers = "*"
pillow = "*"
googletrans = "*"
django-tinymce = "*"
django-taggit = "*"
django-taggit-serializer = "*"
six = "*"
bcrypt = "*"

[requires]
python_version = "3.8"
